.list {
    position: absolute;
    top: 40px;
    bottom: 4px;
    left: 0;
    right: 0;
    overflow: scroll;
}

.container {
    background-image: url('/images/anzLogo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.list-item {
    padding: 4px;
    border-bottom: solid 1px #DDDBDA;
}